#IDEs
.vscode
.idea

#OS
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
*.DS_Store

#docker
.env

#back
back/node_modules
back/dist
back/.env

#front
front/node_modules
front/*.log*
front/.nuxt
front/.nitro
front/.cache
front/.output
front/.env
front/dist